@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
	-epub-hyphens: none;
}

[epub|type~="epigraph"] cite{
	font-style: normal;
	font-variant: small-caps;
	margin-top: 1em;
}

[epub|type~="z3998:verse"]{
	font-style: italic;
	text-align: center;
}
